<!-- Home page all content -->
<div class="home-container">

  <div class="home-row">

    <div class="single-relaxing-box">
      <div class="single-relaxing-box-content" [style.--bg-image]="'url(' + backgroundImage[0] + ')'">

        @if (playSoundBtn == false) {
        <div class="play-button-container" (click)="playSound()">
          <img src="/icons/play-button.png" width="50" height="50">
        </div>
        } @else {
        <div class="pause-button-container" (click)="stopSound()">
          <img src="/icons/pause.png" width="50" height="50">
        </div>
        }


        <div class="sound-volumn-slider-container">

          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>

      </div>
    </div>

    <div class="single-relaxing-box">
      <div class="single-relaxing-box-content" [style.--bg-image]="'url(' + backgroundImage[1] + ')'">

        @if (playSoundBtn == false) {
        <div class="play-button-container" (click)="playSound()">
          <img src="/icons/play-button.png" width="50" height="50">
        </div>
        } @else {
        <div class="pause-button-container" (click)="stopSound()">
          <img src="/icons/pause.png" width="50" height="50">
        </div>
        }


        <div class="sound-volumn-slider-container">

          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>

      </div>
    </div>

    <div class="single-relaxing-box-add">
      <div class="single-relaxing-box-add-content">
        <div class="add-relaxing-sound-container" (click)="openAddRelaxingSoundModel()">
          <img src="/icons/plus.png" alt="" width="50" height="50">
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Add-Relaxing-Sound-Modal -->

<div class="modal fade bd-example-modal-lg" #AddRelaxingSoundModal data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content add-relaxing-model-content">
      <div class="modal-header" style="border-bottom: none !important;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Relaxing Sound <i class="bi bi-stars"></i></h1>
      </div>

      <div class="modal-body">


        <!-- one category have multiple sounds so there should be object inside array and then inside it have img,name,id,location etc. -->

        @for(singleCategory of categoriesWithItsRelaxingSounds; track singleCategory['categoryId']; let
        relaxingCategoryIndex = $index)
        {
        <div class="category-all-sound-container">
          <h5 class="category-title">{{singleCategory['categoryName']}}</h5>
          <hr>

          <div class="category-row">
            @for(singleRelaxingSound of singleCategory['relaxingSounds']; track singleRelaxingSound['soundId']; let
            relaxingSoundIndex = $index)
            {
            <div class="relaxing-sound-img-container"
              [class.add-selected]="addOnSelectedRelaxingSoundId !== 0 && singleRelaxingSound['soundId'] === addOnSelectedRelaxingSoundId"
              (click)="selectingRelaxingSoundOnSelectionModel(singleRelaxingSound['soundId'], relaxingCategoryIndex, relaxingSoundIndex)">
              <h5 class="relaxing-sound-title">{{singleRelaxingSound['name']}}</h5>
              @if(addOnSelectedRelaxingSoundId !== 0 && singleRelaxingSound['soundId'] === addOnSelectedRelaxingSoundId)
              {
              <i class="bi bi-check-circle-fill selected-relaxing-sound-icon"></i>
              }
              <img [src]="singleRelaxingSound['soundImageLocation']">
            </div>
            }
          </div>

        </div>
        }


      </div>


      <div class="modal-footer" style="border-top: none !important;">
        <button type="button" class="btn btn-outline-secondary py-1 px-2"
          (click)="onCloseRelaxingSoundModel()">Close</button>
        <button type="button" class="btn btn-success py-1 px-2" (click)="onAddRelaxingSound()">Add Relaxing
          sound</button>
      </div>
    </div>
  </div>
</div>
